#Files
*.gz
*.gfa
*.fq
*.fq.*
*.fasta
*.fasta.*
*.fastq
*.fastq.*
*.fa
*.fa.*
*.fna
*.fna.*
*.bam
*.bam.*
*.sam
*.vcf
*.vcf.gz
*.saf*
*.beagle*
*.glf
*.nextflow.log*

#Directories
results/
outfiles/
data/
work/
log/
.nextflow/
bin/
reference/
.cache/
.java/
.snakemake/
conda_cache/

# Special handling for nf-angsd-selection
# Un-ignore this specific pipeline's results folder
!nf-angsd-selection/results/
# Ignore large_data inside the un-ignored results folder
nf-angsd-selection/results/large_data/
