#Files
*.gz
*.gfa
*.fq
*.fq.*
*.fasta
*.fasta.*
*.fastq
*.fastq.*
*.fa
*.fa.*
*.fna
*.fna.*
*.bam
*.bam.*
*.sam
*.vcf
*.vcf.gz
*.saf*
*.beagle*
*.glf
*.nextflow.log*
.DS_Store

#Directories
results/
outfiles/
data/
work/
log/
.nextflow/
bin/
reference/
.cache/
.java/
.snakemake/
conda_cache/
